.no-padding {
    padding: 0;
}

.padded-top {
    padding-top: 15px;
}

.padded-bottom {
    padding-bottom: 15px;
}

/* TYPEAHEAD OVERRIDES*/
.acta {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    width: 1.28571429em;
    text-align: center;
}

.acta-VAL:before,
.acta-PAR:before {
    content: "\f1ad";
}

.acta-RDI:before {
    content: "\f018";
}

.acta-FID:before {
    content: "\f03e";
}

.acta-NAM:before,
.acta-OSM:before {
    content: "\f041";
}

.acta-description {
    text-align: right;
    color: #777;
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
}

.dropdown-menu > .active > a > p.acta-description,
.dropdown-menu > .active > a:focus > p.acta-description,
.dropdown-menu > .active > a:hover > p.acta-description,
.dropdown-menu > .active > a > span.acta-description,
.dropdown-menu > .active > a:focus > span.acta-description,
.dropdown-menu > .active > a:hover > span.acta-description {
    color: #fff;
}

/* END OF TYPEAHEAD OVERRIDES*/