<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Property Viewer Sandbox</title>

    <!--- CSS references -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/Content/site.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.0/esri/css/main.css">

    <!-- ESRI CSS references -->
    <link rel="stylesheet" type="text/css" href="//js.arcgis.com/4.0/esri/css/main.css">
    <style type="text/css">
        .esri-view {
            height: 500px;
        }
    </style>
</head>
<body ng-app="app">
    <div class="container-fluid" ng-controller="AppController">
        <h2>Property Viewer Sandbox - Layer Query</h2>

        <div class="row" ng-controller="LayerController">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label for="serviceURL">Map Service Layer URL</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="serviceURL" placeholder="ServiceUrl" ng-model="url">
                            <span ng-click="viewLayerDefinition()" ng-disabled="url == ''" class="btn btn-default input-group-addon">View Definition</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="whereStatement">Where Clause</label>
                        <input type="text" class="form-control" id="whereStatement" placeholder="" ng-model="where">
                    </div>
                    <div class="form-group">
                        <label for="inputShape">Input Shape</label>
                        <input type="text" class="form-control" id="inputShape" placeholder="" ng-model="shape">
                        <p class="help-block">
                            Example shape = {"x" : 1435134.8428999996, "y" : 5037634.3176, "spatialReference" : {"wkid" : 2193}} 
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="inputShapeType">Input Shape Type</label>
                        <select class="form-control" id="inputShapeType" ng-model="shapetype">
                            <option value="esriGeometryPoint">Point</option>
                            <option value="esriGeometryPolyline">Polyline</option>
                            <option value="esriGeometryPolygon">Polygon</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="outputFields">Output Fields</label>
                        <input type="text" id="outputFields" ng-model="outFields">
                        <p class="help-block">Use * for all fields, or comma-delimted list for of field names (see layer definition for list of field names  - note that field names are case sensitive.)</p>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="queryFeatures()">Start Query</button>
                </form>
            </div>

            <div class="col-md-12">
                <pre ng-show="results !== undefined">Query Results: {{results | json}}</pre>
            </div>
        </div>

    </div>


    <!-- JS Files -->
    <script src="//js.arcgis.com/4.0/"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="//npmcdn.com/angular-esri-map@2"></script>

    <!-- App -->
    <script src="App/app.module.js"></script>
    <script src="App/app.core.module.js"></script>
    <script src="App/app.core-events.js"></script>
    <script src="App/app-controller.js"></script>

    <!-- Query -->
    <script src="App/layer/layer-query-factory.js"></script>
    <script src="App/layer/layer-controller.js"></script>

</body>
</html>
